/* Jean Sébastien Marier et Elrik Berthiaume | Ne pas copier, merci! */
/*   ANIMATIONS   */
@keyframes logo-spin {
    0% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(360deg) scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes img-boing {
    40% {
        transform: scale(1.25);
    }
    55% {
        transform: scale(1.235);
    }
    75% {
        transform: scale(1.285);
    }
    100% {
        transform: scale(1.25)
    }
}

@keyframes dropdown {
    0% {
        transform: translateY(-500px);
    }
}

@keyframes link-hover {
    50% {
        color: red;
    }

}

/*   ANIMATIONS end   */

/*   OTHER   */
p, figcaption {
    color: #00ff7f;
    font-size: 24px;
    font-family: 'Roboto', Arial;
}

.content p:last-child::first-letter {
    font-size: 3em;
    float: left;
    font-weight: bold;
    margin-right: 3px;
}

figcaption a {
    color: #00ff7f;
    font-size: 18px;
    margin-left: 15px;
}

a {
    color: initial;
}

a:hover {
    animation: link-hover 0.5s ease-in-out 0s infinite;
}

body {
    padding: 0;
    margin: 0;
}

#header-data-spacer {
    height: 10px;
}

.img-click-animation {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    animation: img-boing 1.75s ease-in-out 0s 1 forwards;
}

/*   OTHER end   */

/*   BANNER   */
#banner {
    height: 100px;
    width: 100%;
    float: top;
    top: 0;
    background-color: #00ff7f;
    z-index: 100;
}

/*Banner logo*/
#banner img {
    height: 90px;
    position: relative;
    left: 0;
    margin: 5px;
}

#banner a img:hover {
    animation: logo-spin 1.75s ease-in-out 0s 1 forwards;
}

/*Banner logo end*/

/*Banner buttons*/
#banner ul {
    position: absolute;
    display: inline-block;
    left: 100px;
    top: 15px;
}

.header-buttons, .dropdown a {
    display: inline;
    margin: 25px;
    width: 20%;
    padding: 10px;
    font-size: 2.15em;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: underline #00ff7f;

    transition: color 0.45s linear, text-decoration 0.40s linear 0.05s;
}

.header-buttons a {
    text-decoration: underline #00ff7f;

    transition: color 0.45s linear, text-decoration 0.40s linear 0.05s;
}

.header-buttons:hover a, .header-buttons:hover, .dropdown a:hover {
    color: #005555;
    text-decoration: underline #005555;
}

#menu-toggle-button {
    display: none;
    float: right;
    top: 5%;
    max-height: 75%;
}

/*Banner buttons end*/

/*   BANNER end   */

/*Drop-down*/
.dropdown {
    position: absolute;
    width: 100%;
    background-color: #1ac77a;
    z-index: 99;
    display: none;
}

.dropdown ul li {
    padding: 10px;
    list-style-type: none;
    text-align: center;
}

.dropdown a {
    text-decoration: underline #1ac77a;

    transition: color 0.45s linear, text-decoration 0.40s linear 0.05s;
}

.opened-dropdown {
    display: block;

    animation: dropdown 1s ease-in-out 0s 1 alternate;
}

/*Drop-down end*/

/*   SUB-BANNERS   */
#menu-button > ul {
    background-color: #1ac77a; /*Other option: #1bd87a*/
    position: fixed;
    top: 100px;
    left: 153px;
    padding: 10px;
    z-index: 100;
    list-style-type: none;
    visibility: hidden;
    opacity: 0;

    transition: visibility 0.3s linear 0.15s, opacity 0.3s linear 0.15s;
}

#project-button > ul {
    background-color: #1ac77a; /*Other option: #1bd87a*/
    position: fixed;
    top: 100px;
    left: 335px;
    padding: 10px;
    z-index: 100;
    list-style-type: none;
    visibility: hidden;
    opacity: 0;

    transition: visibility 0.3s linear 0.15s, opacity 0.3s linear 0.15s;
}

#devs-button > ul {
    background-color: #1ac77a; /*Other option: #1bd87a*/
    position: fixed;
    top: 100px;
    left: 598px;
    padding: 10px;
    z-index: 100;
    list-style-type: none;
    visibility: hidden;
    opacity: 0;

    transition: visibility 0.3s linear 0.15s, opacity 0.3s linear 0.15s;
}

#contact-button > ul {
    background-color: #1ac77a; /*Other option: #1bd87a*/
    position: fixed;
    top: 100px;
    left: 801px;
    padding: 10px;
    z-index: 100;
    list-style-type: none;
    visibility: hidden;
    opacity: 0;

    transition: visibility 0.3s linear 0.15s, opacity 0.3s linear 0.15s;
}

#menu-button:hover > ul {
    visibility: visible;
    opacity: 1;
}

#project-button:hover > ul {
    visibility: visible;
    opacity: 1;
}

#devs-button:hover > ul {
    visibility: visible;
    opacity: 1;
}

#contact-button:hover > ul {
    visibility: visible;
    opacity: 1;
}

/*   SUB-BANNERS end*/

/*   CONTENT   */
.content {
    background-color: #005555;
    position: static;
    width: 80%;
    margin-left: 10%;
    overflow: auto;
}

.content p {
    text-align: justify;
    margin: 10px;
}

.content a {
    transition: text-shadow 0.25s ease-in, color 0.25s ease-in, font-size 0.25s ease-in;
}

.content a:hover {
    text-shadow: 0 0 5px black;
    font-size: 1.01em;
    color: white;
}

.text-title {
    font-size: 30px;
    font-weight: bolder;

    transition: all 0.5s ease-in-out;
}

.text-title:hover {
    size: 1.1em;
    transform: rotate(5deg);
}

.content1 figure {
    float: left;
    margin: 0 15px 0 0;
    padding: 0;
}

.content2 > .text-title {
    text-align: center;
}

.content3 figure {
    float: right;
    margin: 0 0 0 15px;
    padding: 0;
}

/*   CONTENT end   */

/*   FOOTER   */
footer {
    background-color: #00ff7f;
    width: 100%;
    height: 75px;
}

footer p {
    color: black;
}

/*   FOOTER end   */

/*   MEDIA QUERRIES   */
@media only screen and (max-width: 992px) {
    /*   ANIMATIONS   */
    @keyframes img-boing {
        40% {
            width: 90%;
        }
        55% {
            width: 100%;
        }
        75% {
            width: 95%;
        }
        100% {
            width: 100%;
        }
    }
    /*   ANIMATIONS end   */

    /*   OTHER   */
    body {
        background-color: darkcyan;
    }

    p, figcaption {
        font-size: 20px;
    }

    figcaption a {
        font-size: 16px;
    }

    /*   OTHER end   */
    /*   BANNER   */
    .header-buttons {
        display: none;
    }

    #menu-button:hover > ul {
        display: none;
    }

    #project-button:hover > ul {
        display: none;
    }

    #devs-button:hover > ul {
        display: none;
    }

    #contact-button:hover > ul {
        display: none;
    }

    #menu-toggle-button {
        display: initial;
    }

    /*   BANNER end   */
    /*   CONTENT   */
    .content figure {
        display: block;
        width: 100%;
        max-width: 100%;
    }

    .content img {
        width: 100%;
    }

    .content3 figure {
        float: left;
        margin: 0 15px 0 0;
        padding: 0;
    }

    /*   CONTENT end   */
}

@media only screen and (max-width: 600px) {
    body {
        background-color: antiquewhite;
    }

    footer {
        display: none;
    }
}

/*   MEDIA QUERRIES end   */